* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111;
    font-family: poppins;
}

header {
    font-size: 25px;
    font-weight: 400;
    color: rgb(210, 210, 210);
    background-color: rgb(230, 60, 60);
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.container {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    height: 300px;
    margin: 10px 10px;
}

.container h1 {
    font-size: 30px;
    font-weight: 400;
    color: rgb(210, 210, 210);
    margin-top: 10px;
    margin-left: 20px;
}

.sidebar {
    color: rgb(210, 210, 210);
    margin-left: 40px;
    margin-top: 20px;
}

.action input {
    margin-left: 20px;
    margin-top: 15px;
    background-color: rgb(210, 210, 210);
    border: none;
    border-radius: 3px;
    padding: 3px;
    padding-left: 10px;
}

button {
    color: rgb(210, 210, 210);
    background-color: rgb(230, 60, 60);
    border: none;
    border-radius: 3px;
    padding: 3px;
}
